In [1]:
import pandas as pd

In [3]:
db = pd.read_csv("marks.csv")

In [4]:
db

    name   hrs  marks
0  kratik    9     90
1   payal    8     80
2    eric    6     60
3   krish    5     50

In [6]:
y = db["marks"]

In [7]:
y

0    90
1    80
2    60
3    50
Name: marks, dtype: int64

In [10]:
x = db["hrs"]

In [11]:
x

0    9
1    8
2    6
3    5
Name: hrs, dtype: int64

In [12]:
type(x)

pandas.core.series.Series

In [13]:
x.shape

(4,)

In [19]:
x= x.values

In [20]:
x = x.reshape(4,1)

In [14]:
from sklearn.linear_model import LinearRegressionarRegression

In [15]:
mind = LinearRegression()

In [21]:
mind.fit(x, y)

LinearRegression()

In [26]:
mind.predict([[2]])

array([20.])

In [27]:
import joblib

In [28]:
joblib.dump(mind, 'marks.pk1')

['marks.pk1']